.offcanvas{
    /* position: relative; */
    /* pointer-events: none; */
}

.button-aid::after{
    content: attr(data-flip);
    background: greenyellow;
    position: absolute;
    right: -12px;
    top: 50%;
    width: 12px;
    height: 60px;
    border-radius: 0px 85px 85px 0px;
    text-align: center;
    display: flex;
    padding: auto;
    line-height: 56px;
    color: black;
    pointer-events: all;
    cursor: pointer;
    visibility: visible;
}

.timestamps{
    list-style: none;
    padding-left: 0px;
    width: 70%;
    margin: auto;
    pointer-events: click;
}

.timestamp{
    margin: 1rem auto;
    padding: 5px 12px;
    cursor: pointer;
    /* z-index: 110; */
}

.timestamp-sel{
    background: greenyellow;
    color: black;
    border-radius: 10px;
}