.profile-svg svg {
    width: 35px;
    height: 27px;
    fill: linear-gradient(to right, blue, green);
    margin: 15px 24px;
}

.header {
    font-family: 'Dancing Script';
    font-size: 2rem;
    position: sticky;
    top: 0px;
    width: 100%;
    box-shadow: 0px 0px 10px black;
    z-index: 10;
}

.addtask {
    padding: 1px 12px;
    font-size: 20px;
    border: 0px;
    border-radius: 10px;
    height: 40px;
    margin: auto 0px;
    background: greenyellow;
    border-radius: 10px;
    box-shadow: 0px 0px 10px greenyellow;
    color: greenyellow;
    background: transparent;
    border: 3px solid #d8ff9ba3;
    transition: 0.25s;
}

.addtask:hover, .addtask:hover a{
    background: #6da11d;
    color: white;
}

.addtask a {
    color: greenyellow;
    text-decoration: none;
    font-family: sans-serif;
    font-size: medium;
    margin: 0px;
    transition: 0.25s;
}

.header-logo img {
    height: 60px;
}